- content_for :title, "Edit Objective"
-if (current_user.id == @objective.user_id) or (current_user.id == (User.find(@objective.user_id)).manager_id)
  .row
    .col-md-12
      =button_to(objectives_path,class:"btn btn-primary",method: :get,style:"float:left;margin-top:10px;") do
        %span{class:"glyphicon glyphicon-menu-left"}
        %span{class:"glyphicon glyphicon-th-list"}
        =" Back to List"
  .row
    .col-sm-12
      .panel.panel-default{style:"margin-top: 10px; max-width: 1000px;"}
        .panel-heading

          %h3{style:"margin: 0px;"}
            %span{class:"glyphicon glyphicon-wrench"}
            Editing objective
        .panel-body
          = render(partial:'add_objective_form')
-else
  %h3 You are not authorised to edit this user's Objective
