<% randn = rand(1..3) %>
<% if randn == 1%>
  <div class="container-fluid head pink">
<% elsif randn == 2%>
  <div class="container-fluid head blue">
<% elsif randn == 3%>
  <div class="container-fluid head green">
<% end %>
  <h1>Notifications</h1>
  <h2 class="sub">Click here to see your calendar</h1>
</div>

<div class="container">
  <% if @notifications.empty? %>
  <div class="container marketing">
    <h2 class= "sub">No new notifications to display!</h2>
  </div>
  <% else %>
      <% @notifications.each do |notification| %>

        <% if notification.ntype == "Success (green)" %>
          <div class="alert alert-success" role="alert"><%= notification.message %></div>
        <% elsif notification.ntype == "Info (blue)" %>
          <div class="alert alert-info" role="alert"><%= notification.message %></div>
        <% elsif notification.ntype == "Warning (yellow)" %>
          <div class="alert alert-warning" role="alert"><%= notification.message %></div>
        <% elsif notification.ntype == "Danger (red)" %>
          <div class="alert alert-danger" role="alert"><%= notification.message %></div>
        <% end %>

      <% end %>
    <% end %>
</div>
