<!-- - content_for :title, "Server Error"

.page-header
  %h1
    Server Error
    %sup#error-code 500

%p Sorry, there was a problem, please try again.

%p
  If you continue to experience this problem please contact
  = mail_to "support@epigenesys.co.uk" -->



    <% randn = rand(1..3) %>
    <% if randn == 1%>
      <div class="container-fluid head pink">
    <% elsif randn == 2%>
      <div class="container-fluid head blue">
    <% elsif randn == 3%>
      <div class="container-fluid head green">
    <% end %>
      <h1>Error 500</h1>
      <h1 class="sub">Server Error</h1>
    </div>

  <div class="container">
    <h1 class="error_code">500</h1>
    <p class="error_description">Sorry, there was a problem, please try again.</p>
  </div>
