<!-- - content_for :title, 'Browser Not Compatible'

.page-header
  %h1 Browser Not Compatible

%p It appears that you are using an old version of Internet Explorer which prevents us offering you a rich online experience.

%p Please upgrade to a newer version of Internet Explorer (9.0 or above), use a different web browser (e.g. Chrome or Firefox),
or alternatively contact the CiCS Helpdesk for assistance.
-->

<% randn = rand(1..3) %>
<% if randn == 1%>
  <div class="container-fluid head pink">
<% elsif randn == 2%>
  <div class="container-fluid head blue">
<% elsif randn == 3%>
  <div class="container-fluid head green">
<% end %>
  <h1>Warning</h1>
  <h1 class="sub">Browser Not Compatible</h1>
</div>

<div class="container">
<h1 class="error_code">Oops!</h1>
<p class="error_description">It appears that you are using an old version of Internet Explorer which prevents us offering you a rich online experience.
  Please upgrade to a newer version of Internet Explorer (9.0 or above) or use a different web browser (e.g. Chrome or Firefox),</p>
</div>
