
.modal{:id => "deleteModal#{objective.id}",:role => "dialog",tabindex:"-1","aria-labelledby"=>"myModalLabel", "aria-hidden"=>"true"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Are you sure?
      .modal-body
        %p Are you sure you want to delete this objective?
        .well.well-sm
          %b
            %p=objective.title
          %p=objective.description
        - if not (defined?(name)).nil? # if name variable is defined. put it in dialog.
          %p
            Author:
            %b="#{name}"
        - if (defined?(rto)).nil? #if redirection after delete location unspecified. set to default.
          -rto = "index"
      .modal-footer
        =link_to( objective_path(objective.id,rto:rto),class:"btn btn-danger",method: :delete,style:"float:left;") do
          ="<span class=\"glyphicon glyphicon-trash\"></span>".html_safe+" Yes, delete this objective"
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
